<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">
			<div class="4u">
				<a class="image full"><img src="src/images/bdsullivan.jpg" alt="" /></a>
			</div>
			<div class="8u">
				<header>
				<h3> Dr. Blair D. Sullivan</h3>
				</header>
				<p align="left">
				<b> Associate Professor,</b> Department of Computer Science, North Carolina State University<br>
				<i> Chancellor's Faculty Excellence Program </i>, <a href="http://workthatmatters.ncsu.edu/data-driven-science/">Data-Driven Science Cluster</a><br>
				<b> Joint Faculty,</b> Computer Science and Mathematics Division, Oak Ridge National Laboratory <br>
				<br>
				<b><i>Contact Information:</i></b><br>
				890 Oval Drive, 3280 EBII <br>
				Raleigh, NC 27606 <br>
				<b><i>Email:</i></b> blair_sullivan(at)ncsu(dot)edu<br>
				<b><i>Phone:</i></b> 919.513.0453 <br>
				<a href="src/docs/sullivan-cv.pdf" target="_blank"  class="button">CV (pdf)</a> <br>
				<em> updated November, 2016 </em>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="12u">
				<p>Research interests include parameterized algorithms, structural graph theory, applied discrete mathematics, random graphs, parallel algorithm design, and combinatorial scientific computing. Recent work focuses on integrating tools and techniques from structural graph theory into tools for scalable network analysis. </p>
			</div>
		</div>
	</div>
</div>



<div id="featured">

	<div class="container">
	<div class="row">
			<div class="12u">
				<center>
					<i> Featured activities below are intended to be a representative snapshot of recent activities. Please see CV for complete lists. </i>
				</center>
			</div>
		</div>
		<div class="row">
			<div class="4u">
		<h2>Teaching</h2>
		<a class="image full"><img src="src/images/teach.jpg" alt="" /></a>
		<p> CSC801/295: Special Topics in Theoretical Computer Science (CS Theory Reading Group), Fall 2016 </p>
		<p> CSC801/295: Special Topics in Theoretical Computer Science (CS Theory Reading Group), Spring 2016 </p>
		<p> CSC333: Automata, Grammars, and Computability, Fall 2015 </p>
		<p> CSC333: Automata, Grammars, and Computability, Fall 2014 </p>
		<p> CSC707: Theory of Computation, Fall 2014 </p>
		<p> CSC226: Discrete Mathematics for Computer Scientists, Spring 2014</p>
			</div>

			<div class="4u">
		<h2>Service and Outreach</h2>
		<a class="image full"><img src="src/images/service.jpg" alt="" /></a>
			<p> Co-Chair, Program Committee, <a href="http://www.siam.org/meetings/ns16/">SIAM Workshop on Network Science (NS16)</a>, 2016
			<p> Program Committee, <a href="http://www.siam.org/meetings/dm16/">SIAM Conference on Discrete Mathematics</a>, 2016.
			<p> Organizer, <a href="http://www.csc2.ncsu.edu/theoryseminar/">NCSU CS Theory Seminar</a>, 2013 - present.
			<p> Program Committee, <a href="http://www.siam.org/meetings/ns15/">SIAM Workshop on Network Science (NS15)</a>, May 2015
			<p> Organizer, Special Session on Graphs and Algorithms, <a href="https://sites.google.com/site/awmmath/home/awm-research-symposium-2015">AWM Research Symposium</a>, April 2015
			<p> Research Cluster Organizer (with E. Demaine, D. Marx): "<a href="http://icerm.brown.edu/sp-s14">Towards Efficient Algorithms Exploiting Graph Structure</a>", ICERM, April 2014
		</div>

			<div class="4u">
				<h2>Awards</h2>
				<a class="image full"><img src="src/images/award.jpg" alt="" /></a>
				<p> Named a <b>Moore Investigator in Data-Driven Discovery</b>. <a href="http://bit.ly/DDDInv14PR" >G&B Moore Foundation Press Release</a>, <a href="http://bit.ly/DDDinvestigators">Investigator bios</a>, and <a href="http://news.ncsu.edu/2014/10/sullivan-moore-grant/">NC State coverage</a>

				<p> Named a 2014 <a href="http://www.data2discovery.org/data-fellows/"><b>NCDS Data Science Faculty Fellow</b></a>. <a href="http://www.data2discovery.org/2013/11/data-fellows-awards">Press release</a>. <a href="http://vimeo.com/97542477">Video interview</a>.
			</div>
		</div>
		<div class="row">
			<div class="6u">
				<h3>Funding</h3>
				<p>Co-PI (with D. Janies and X.Shi, UNCC), Risk Mitigation of Infectious Diseases via Network Modeling and Mining, North Carolina Data Science & Analytics Initiative, 2015-2017.
				<p>Moore Investigator in Data-Driven Discovery. Gordon & Betty Moore Foundation, 2014-2019.
				<p>Principal Investigator, PARSiNG: Parameterized Algorithms Respecting Structure in Noisy Graphs. DARPA GRAPHS Program, 2014-2015.
				<p>Co-PI (with A. Wilson), Scalable Clustering Methods for Dynamic Health Data. NCSU Research and Innovation Seed Fund, 2014.
				<p>Principal Investigator, SPARTN: Sparse Projections Achieving Randomization in Tree-like Networks. DARPA GRAPHS Program, 2012-2014.
				<p>Principal Investigator, Connecting Combinatorial and Geometric Tree-Like Structure in Complex Networks. ORNL LDRD SEED Fund, 2011-2012.
				<p>Principal Investigator, Scalable Graph Decomposition and Algorithms to Support the Analysis of Petascale Data. U.S. Dept. of Energy (DOE) Office of Advanced Scientific Computing Research (ASCR), 2009-2012.
			</div>

			<div class="6u">
				<h3>Selected Recent & <i>Upcoming</i> Talks</h3>
				<p> NIEHS Data Science Seminar Series, Research Triangle Park, NC, April 17, 2015 </p>
				<p> SIAM Workshop on Network Science, Snowbird, UT, May 16, 2015. Recording <a href="https://www.pathlms.com/siam/courses/1284">available</a>. </p>
				<p> NetSci15, Zaragoza, ES, June 4, 2015.
				<p> ICERM Workshop on the Mathematics of Data Science, Providence, RI, July, 2015.</p>
				<p> Mathematical Biosciences Institute Workshop on Generalized Network Structures and Dynamics, Columbus, OH, March 2016</p>
				<p> Kennesaw State University Infinite Horizons Series, Atlanta, GA, April 2016</p>
				<p> SIAM Conference on Discrete Mathematics and Applications, "The Mathematics behind Big Data Analysis" minisymposium, Atlanta, GA, June 2016</p>

			</div>
		</div>

	</div> <!--container-->
</div> <!--featured-->
