<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">

			<!-- News -->
			<div class="6u">
			<div>
				<section>
					<header>
						<h2>Recent News</h2>
					</header>
					<ul class="style">
						<li>
							<p class="posted">April 5, 2016</p>
							<img src="src/images/students.jpg" alt="" />
							<p class="text"> Ph.D. student Timothy Goodrich has been awarded a 2016 <a href="https://ndseg.asee.org">National Defense Science & Engineering Graduate (NDSEG) Fellowship!</a></p>
						</li>

						<li>
							<p class="posted">March 30, 2015</p>
							<img src="src/images/comingsoon_thumb.png" alt="" />
							<p class="text">We're delighted to announce that <b>Kyle Kloster</b> from Purdue University will be joining Theory In Practice as a postdoc in June 2016. </p>
						</li>


						<li>
							<p class="posted">March 14, 2016</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text"><b>New preprint</b> with Ph.D. student A. van der Poel posted to ArXiv: <a href="http://arxiv.org/abs/1603.04376">A Fast Parameterized Algorithm for Co-Path Set</a>.</p>
						</li>


						<li>
							<p class="posted">February 5, 2016</p>
							<img src="src/images/clusters.jpg" alt="" />
							<p class="text">Come check out what's going on with data at the NC State Data Science Initiative's <a href="https://research.ncsu.edu/dsi/winter-symposium/">2016 Winter Symposium</a>.</p>
						</li>


						<li>
							<p class="posted">January 15, 2016</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text">The new CS Theory Reading Group is up and running for Spring 2016 (with 16 regular attendees!) Check out the <a href="src/docs/readings_spring16.pdf">papers we're reading</a>.</p>
						</li>




					</ul>
				</section>
			</div>
			<a ui-sref="news-archive" class="button">News Archive</a>

			</div>


			<!-- Talks -->
			<div class="6u">
			<div>
				<section>
					<header>
						<h2>Upcoming Talks & Events</h2>
					</header>
					<ul class="style">


						<li>
							<p class="posted">April 26, 2016</p>
							<img src="src/images/concuss_thumb.png" alt="" />
							<p class="text">The Theory in Practice Senior Design Team is presenting at CSC's Annual <a href="https://www.csc.ncsu.edu/news/1868">Posters & Pies</a> (10:30 am - 1:00 pm at the Hunt Library)!</p>
						</li>


						<li>
							<p class="posted">May 1-6, 2016</p>
							<img src="src/images/barn.jpg" alt="" />
							<p class="text">Theory in Practice is participating in the (first ever) trainee-driven <a href="https://mdibl.org/course/barnraising/">Barnraising for Data-Intensive Discovery</a> at the MDI Biological Laboratory in Bar Harbor, Maine (co-organized by Dr. Sullivan)</p>
						</li>

						<li>
							<p class="posted">June 6-10, 2016</p>
							<img src="src/images/siam.jpg" alt="" />
							<p class="text"><a href="http://www.siam.org/meetings/dm16/">SIAM Conference on Discrete Mathematics</a>, Atlanta, GA. Minisymposia talks by postdoc Felix Reidl (in <i>Parameterized Algorithms and Graph Decompositions</i>) and Dr. Sullivan (in <i>The Mathematics Behind Big Data Analysis</i>)</p>
						</li>


						<li>
							<p class="posted">July 15-16, 2016</p>
							<img src="src/images/siam.jpg" alt="" />
							<p class="text">Theory in Practice will be at the <a href="http://www.siam.org/meetings/ns16/">SIAM Workshop on Network Science</a> in Boston, MA giving a plethora of talks and posters!</p>
						</li>



					</ul>

				</section>
			</div>
		<a ui-sref="events-archive"  class="button">Events Archive</a>
			</div>
		</div>


	</div>
</div>
