<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">

			<!-- News -->
			<div class="12u">
			<div id="featured">
				<section>
					<header>
						<h2>News: Archive</h2>
					</header>
					<ul class="style">

						<li>
							<p class="posted">April 5, 2016</p>
							<img src="src/images/students.jpg" alt="" />
							<p class="text"> Ph.D. student Timothy Goodrich has been awarded a 2016 <a href="https://ndseg.asee.org">National Defense Science & Engineering Graduate (NDSEG) Fellowship!</a></p>
						</li>

						<li>
							<p class="posted">March 30, 2015</p>
							<img src="src/images/comingsoon_thumb.png" alt="" />
							<p class="text">We're delighted to announce that <b>Kyle Kloster</b> from Purdue University will be joining Theory In Practice as a postdoc in June 2016. </p>
						</li>

						<li>
							<p class="posted">March 14, 2016</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text"><b>New preprint</b> with Ph.D. student A. van der Poel posted to ArXiv: <a href="http://arxiv.org/abs/1603.04376">A Fast Parameterized Algorithm for Co-Path Set</a>.</p>
						</li>

						<li>
							<p class="posted">February 5, 2016</p>
							<img src="src/images/clusters.jpg" alt="" />
							<p class="text">Come check out what's going on with data at the NC State Data Science Initiative's <a href="https://research.ncsu.edu/dsi/winter-symposium/">2016 Winter Symposium</a>.</p>
						</li>



						<li>
							<p class="posted">January 15, 2016</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text">The new CS Theory Reading Group is up and running for Spring 2016 (with 16 regular attendees!) Check out the <a href="docs/readings_spr2016.pdf">papers we're reading</a>.</p>
						</li>


						<li>
							<p class="posted">November 4, 2015</p>
							<img src="src/images/concuss_thumb.png" alt="" />
							<p class="text"><a ui-sref="software">CONCUSS</a> finally has a logo! Also, recent improvements by affiliated <a ui-sref="people">undergraduates</a> have greatly improved efficiency - be sure to grab the latest version from <a href="https://www.github.com/theoryinpractice/concuss">github</a>.  </p>
						</li>

						<li>
							<p class="posted">October 30, 2015</p>
							<img src="src/images/jobs.jpg" alt="" />
							<p class="text">We have a <b>new postdoc opening</b> (anticipated start date in June 2016)! Details on the <a ui-sref="people">People</a> page (<a href="https://jobs.ncsu.edu/postings/59947">official ad</a>)</p>
						</li>

						<li>
							<p class="posted">October 15, 2015</p>
							<img src="src/images/comingsoon_thumb.png" alt="" />
							<p class="text">We're delighted to announce that <b>Felix Reidl</b> will be joining Theory In Practice as a postdoc in January 2016 (pending successful dissertation defense, of course). </p>
						</li>


						<li>
							<p class="posted">September 15, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text">Paper <a href="http://arxiv.org/abs/">Hyperbolicity, degeneracy, and expansion of random intersection graphs</a> accepted at <a href = "https://www.cs.purdue.edu/waw2015/">WAW 2015</a>!</p>
						</li>

						<li>
							<p class="posted">September 4, 2015</p>
							<img src="src/images/students.jpg" alt="" />
							<p class="text">Congrats to Ph.D. student Drew van der Poel on passing his written preliminary exam (890)!</p>
						</li>


						<li>
							<p class="posted">September 2, 2015</p>
							<img src="src/images/software.png" alt="" />
							<p class="text">New open source release! Check out CONCUSS: Combatting Network Complexity Using Structural Sparsity <a href="https://www.github.com/theoryinpractice/concuss">on github</a>.</p>													</li>

						<li>
							<p class="posted">August 31, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text">Extended Abstract <i>Graph theoretical analysis of intramuscular fat in the supraspinatus.</i> with undergraduates Yang Ho and Brandon Mork accepted at <a href = "http://bmes.org/annualmeeting">BMES Annual Meeting 2015</a>!</p>
						</li>

						<li>
							<p class="posted">July 30, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text">Paper <a href="http://arxiv.org/abs/1410.4355">Multi-Level Anomaly Detection on Time-Varying Graph Data</a> accepted at <a href = "http://asonam.cpsc.ucalgary.ca/2015/">ASONAM 2015</a>!</p>
						</li>


						<li>
							<p class="posted">July 15, 2015</p>
							<img src="src/images/siam.jpg" alt=""/>
							<p class="text">Dr. Sullivan is co-chairing the 2016 SIAM Workshop on Network Science!</p>
						</li>


						<li>
							<p class="posted">July 1, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt=""/>
							<p class="text">Paper <a href="http://arxiv.org/abs/1505.00612">On the Threshold of Intractability</a> accepted at <a href = "http://algo2015.upatras.gr/esa/">ESA 2015</a>!</p>
						</li>


						<li>
							<p class="posted">June 15, 2015</p>
							<img src="src/images/clusters.jpg" alt=""/>
							<p class="text">Dr. Sullivan selected for the NC State Chancellor's Faculty Excellence Program as a member of the <a href="http://workthatmatters.ncsu.edu/data-driven-science">Data-Driven Science Cluster</a></p>
						</li>



						<li>
							<p class="posted">June 3, 2015</p>
							<img src="src/images/siam.jpg" alt="" />
							<p class="text">Talk from SIAM Workshop on Network Science is now <a href="https://www.pathlms.com/siam/courses/1284">online!</a></p>
						</li>


						<li>
							<p class="posted">June 1, 2015</p>
						<img src="src/images/ncsu.jpg" alt=""/>
							<p class="text">Welcome to our <b>summer undergraduate researchers</b>: Yang Ho, Clayton Hobbs, and Nishant Rodrigues! (now on the <a ui-sref="people">People</a> page.)</p>
						</li>


						<li>
							<p class="posted">May 4, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text"><b>New preprint</b> posted to ArXiv: <a href="http://arxiv.org/abs/1505.00612">On the Threshold of Intractability</a>.</p>
						</li>

						<li>
							<p class="posted">April 14, 2015</p>
							<img src="src/images/poster.png" alt=""/>
							<p class="text">Undergrad researchers Brandon Mork and Clayton Hobbs presented posters at the NC State Undergraduate Research Symposium.</p>
						</li>


						<li>
							<p class="posted">April 1, 2015</p>
							<img src="src/images/twitter.png" alt=""/>
							<p class="text">We're on Twitter <a href="https://twitter.com/BlairDSullivan"><b>@BlairDSullivan</b></a> (despite the date, this is no joke).</p>
						</li>


						<li>
							<p class="posted">March 27, 2015</p>
							<img src="src/images/netsci.jpg" alt=""/>
							<p class="text">Abstract selected for talk (from a record 415 submissions!) at <a href="http://www.netsci2015.net">NetSci 2015</a>!</p>
						</li>


						<li>
							<p class="posted">February 26, 2015</p>
							<img src="src/images/SIAM.jpg" alt=""/>
							<p class="text">Abstract selected for presentation at <a href="http://www.siam.org/meetings/ns15/">SIAM Workshop on Network Science</a></p>
						</li>


						<li>
							<p class="posted">February 6, 2015</p>
							<img src="src/images/papers_thumb.jpg" alt=""/>
							<p class="text">Paper <a href="http://arxiv.org/abs/1410.5845">Zig-Zag Numberlink is NP-Complete</a> accepted (Journal of Information Processing)!</p>
						</li>


						<li>
							<p class="posted">January 23, 2015</p>
							<img src="src/images/video_thumb.jpg" alt="" />
							<p class="text">Dr. Sullivan joined other <a href="http://bit.ly/DDDinvestigators"><b>Moore Investigators in Data-Driven Discovery</b> 12-2pm Pacific</a> in hosting a <a href="http://www.reddit.com/r/science/">Reddit Science</a> AMA</p>
						</li>

					<li>
							<p class="posted">January 20, 2015</p>
							<img src="src/images/ncsu.jpg" alt=""/>
							<p class="text">Welcome to our <b>new undergraduate researchers</b>, Brandon Mork and Clayton Hobbs! (now on the <a ui-sref="people">People</a> page!)</p>
						</li>


						<li>
							<p class="posted">January 2, 2015</p>
							<img src="src/images/jobs.jpg" alt="" />
							<p class="text"><b>Postdoc Position Available!</b> More information <a href="src/docs/postdoc_2015.pdf">available here.</a></p>
						</li>

						<li>
							<p class="posted">December 15, 2014</p>
							<img src="src/images/icerm.png" alt="" />
							<p class="text"> ICERM is hosting a Workshop on the Mathematics in Data Science in July 2015 - <a href="http://icerm.brown.edu/topical_workshops/tw15-6-mds">apply to participate!</a> (Dr. Sullivan is one of the invited speakers)</p>
						</li>

						<li>
							<p class="posted">November 7, 2014</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text"><b>New preprint</b> posted to ArXiv: <a href="http://arxiv.org/abs/1411.1546">Tree decompositions and social graphs</a></p>
						</li>


						<li>
							<p class="posted">October 23, 2014</p>
							<img src="src/images/zznl.jpg" alt="" />
							<p class="text"><b>New preprint</b> posted to ArXiv: <a href="http://arxiv.org/abs/1410.5845">Zig-Zag Numberlink is NP-Complete</a></p>
						</li>

						<li>
							<p class="posted">October 17, 2014</p>
							<img src="src/images/football.jpg" alt="" />
							<p class="text"><b>New preprint</b> posted to ArXiv: <a href="http://arxiv.org/abs/1410.4355">Multi-Level Anomaly Detection on Streaming Graph Data</a></p>
						</li>


						<li>
							<p class="posted">October 2, 2014</p>
							<img src="src/images/video_thumb.jpg" alt="" />
							<p class="text">Dr. Sullivan named <a href="http://bit.ly/DDDinvestigators"><b>Moore Investigator in Data-Driven Discovery!</b></a></p>
						</li>

						<li>
							<p class="posted">October 1, 2014</p>
							<img src="src/images/funding_thumb.jpg" alt="" />
							<p class="text">Super excited to start work on our new <b>DARPA GRAPHS</b> project, PARSiNG: Parameterized Algorithms Respecting Structure in Noisy Graphs!</p>
						</li>

						<li>
							<p class="posted">September 30, 2014</p>
							<img src="src/images/papers_thumb.jpg" alt="" />
							<p class="text"><b>New preprint</b> posted to ArXiv: <a href="http://arxiv.org/abs/1409.8196">Hyperbolicity, Degeneracy, & Expansion of Random Intersection Graphs</a>.</p>
						</li>
						<li>
							<p class="posted">September 19, 2014</p>
							<img src="src/images/kcore3.jpg" alt="" />
							<p class="text"><b>Paper accepted</b> to ICDM 2014: Locally Estimating Core Numbers (M. P. O'Brien and B. D. Sullivan)</p>
						</li>

						<li>
							<p class="posted">September 5, 2014</p>
							<img src="src/images/video_thumb.jpg" alt=""/>
							<p class="text">Fun (5-minute) <b>RTP 180&deg talk now <a href="http://youtu.be/dBLE9ESpUIo">on Youtube!</a></b>. Associated slides available <a href="http://data2discovery.org/2014/09/big-data-a-big-topic-at-rtp-180/" target="_blank">on the NCDS blog</a>. </p>
						</li>


						<li>
							<p class="posted">August 15, 2014</p>
							<img src="src/images/students.jpg" alt=""/>
							<p class="text">Welcome to our <b>new Ph.D. students</b>, Timothy Goodrich and Drew van der Poel!</p>
						</li>

					</ul>
				</section>
			</div>
			</div>
			</div>
	</div>
</div>
