<div>
	<person-principal contents="people.principal"></person-principal>

<!--	<person-large-list title="'Post Docs'" contents="people.postdocs"></person-large-list> -->

	<person-large-list title="'Graduate Students'" contents="people.gradstudents"></person-large-list>

	<person-large-list title="'Undergraduates'" contents="people.undergraduates"></person-large-list>

	<person-small-list title="'Alumni'" contents="people.alumni"></person-small-list>

	<div class="row">
		<div class="12u">
			<markdown contents="join.markdown"></markdown>
		</div>
	</div>

</div>
