<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">
			<div id="content" class="12u">
				<section>
					<header>
						<h4>Selected Publications:</h4>
					</header>
<header>
<h5>Currently Under Review:</h5>
</header>
<p> E. Demaine, F. Reidl, P. Rossmanith, F. Sanchez Villaamil, S. Sikdar, B. D. Sullivan. Structural Sparsity of Complex Networks: Random Graph Models and Linear Algorithms. <em> (Under Review)</em>. Available <a href="http://arxiv.org/abs/1406.2587">on ArXiv</a>. </p>

<header>
<h5>2016:</h5>
</header>
<p> B. D. Sullivan, A. van der Poel. A Fast Parameterized Algorithm for Co-Path Set. <em> To appear in <a href="http://conferences.au.dk/algo16/ipec/">IPEC 2016</a></em>. Available <a href="http://arxiv.org/abs/1603.04376">on ArXiv</a>. </p>
<p> A. Adcock, B. D. Sullivan, and M. Mahoney. Tree decompositions and social graphs. <em>Internet Mathematics 12(5), 315--361, 2016</em>. Journal version <a href="http://dx.doi.org/10.1080/15427951.2016.1182952">here</a>; also available <a href="http://arxiv.org/abs/1411.1546">on ArXiv</a>. </p>

<header>
<h5>2015:</h5>
</header>
<p> M. Farrell, T. Goodrich, N. Lemons, F. Reidl, F. Sanchez Villaamil, B. D. Sullivan. Hyperbolicity, degeneracy, and expansion of random intersection graphs. <em>Proceedings of Algorithms and Models for for the Web Graph: 12th International Workshop (WAW2015)</em>,  29--41, 2015. Proceedings version <a href="http://link.springer.com/chapter/10.1007/978-3-319-26784-5_3">here</a>; also available <a href="http://arxiv.org/abs/1409.8196">on ArXiv</a>. </p>
<p> P. Drange, M. Dregi, D. Lokshtanov, and B. D. Sullivan. On the threshold of intractability. <em>Algorithms - ESA 2015: 23rd Annual European Symposium, Proceedings</em>, 411-423, 2015. Proceedings version <a href="http://link.springer.com/chapter/10.1007/978-3-662-48350-3_35">here</a>; also available <a href="http://arxiv.org/abs/1505.00612">on ArXiv</a>. </p> 
<p>Y. Ho, B. Mork, K. Saul, and B. D. Sullivan. Graph theoretical analysis of intramuscular fat in the supraspinatus (extended abstract). <em>Biomedical Engineering Society (BMES) Annual Meeting</em>, 2015. </p>
<p>R. Bridges, J. Collins, E. Ferragut, J. Laska, B. D. Sullivan. Multi-Level Anomaly Detection on Streaming Graph Data.  <em>Proceedings of the 2015 IEEE/ACM International Conference on Advances in Social Networks Analysis and Mining (ASONAM)</em>, 579-583, 2015. Proceedings version <a href="http://dl.acm.org/citation.cfm?id=2809406">here</a>; also available <a href="http://arxiv.org/abs/1410.4355">on ArXiv</a>. </p>
<p> A. Adcock, E. Demaine, M. P. O'Brien, F. Reidl, F. Sanchez Villaamil, B. D. Sullivan. Zig-Zag Numberlink is NP-Complete. <em> to appear </em>, Journal of Information Processing, Special Issue on Recreational Discrete Mathematics, 23(3):239-245, 2015. Journal version <a href="https://www.jstage.jst.go.jp/article/ipsjjip/23/3/23_239/_article">here</a>; also available <a href="http://arxiv.org/abs/1410.5845">on ArXiv</a>. </p>
<header>
<h5>2014:</h5>
</header>
<p>M. P. O'Brien and B. D. Sullivan. Locally Estimating Core Numbers. <em>Proceedings of 2014 IEEE International Conference on Data Mining (ICDM'14)</em>, 2014. Proceedings version <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=7023363"></a>; also available <a href="http://arxiv.org/abs/1410.6793">on ArXiv</a>. </p>
<p> C. Klymko, B. D. Sullivan, and T. Humble. Adiabatic Quantum Programming: Minor Embedding with Hard Faults. <em>Quantum Information Processing</em> 13(3):709--729, March 2014. Journal version <a href="http://link.springer.com/article/10.1007/s11128-013-0683-9">here</a>; also available <a href="http://arxiv.org/abs/1210.8395">on ArXiv</a>. </p>
<p> T. Humble, A. McCaskey, R. Bennink, J. Billings, E. D'Azevedo, B. D. Sullivan, C. Klymko, H. Seddiqi. An Integrated Development Framework for Adiabatic Quantum Programming. <em>(Comput. Sci. Disc.)</em>, 7, 2014. Journal version <a href="http://iopscience.iop.org/article/10.1088/1749-4680/7/1/015006/meta">here</a>; also available <a href="http://arxiv.org/abs/1309.3575">on ArXiv</a>. </p>
<header>
<h5>2013:</h5>
</header>
<p> A. Adcock, B. D. Sullivan, and M. Mahoney. Tree-like structure in social and information networks. <em>Proceedings of 2013 IEEE International Conference on Data Mining (ICDM'13), 1-10, 2013</em>. Proceedings version <a href="http://ieeexplore.ieee.org/xpls/abs_all.jsp?arnumber=6729484">here</a>; also available <a href="http://www.stat.berkeley.edu/~mmahoney/pubs/treelike-icdm13.pdf">as pre-print</a>. </p>
  <p>A. Adcock, B. D. Sullivan, O. Hernandez, and M. Mahoney. Evaluating OpenMP Tasking at Scale for the Computation of Graph Hyperbolicity. <em>OpenMP in the Era of Low Power Devices and Accelerators, Proceedings of the 9th International Workshop on OpenMP (IWOMP 2013)</em>, 71-83, 2013. Proceedings version <a href="http://dx.doi.org/10.1007/978-3-642-40698-0_6">here</a>; also available <a href="http://www.stat.berkeley.edu/~mmahoney/pubs/iwomp13.pdf">as preprint</a>. </p>
  <p>B. D. Sullivan, D. Weerapurage, and C. Groer. Parallel Algorithms for Graph Optimization using Tree Decompositions. <em>Proceedings of the International Parallel and Distributed Processing Symposium Workshops (IPDPSW)</em>, 2013. Proceedings version <a href="http://dx.doi.org/10.1109/IPDPSW.2013.242">here</a>. </p>
   <p> B. D. Sullivan. On a Conjecture of Andrica and Tomescu. <em>Journal of Integer Sequences</em>, 16, 2013. Journal version <a href="http://cs.uwaterloo.ca/journals/JIS/VOL16/Sullivan/sullivan8.pdf">here</a>; also available <a href="http://arxiv.org/abs/1210.8437">on ArXiv</a>. </p>
<header>
<h5>2008-2012:</h5>
</header>
  <p>C. Groer, B. D. Sullivan, and D. Weerapurage. INDDGO: Integrated Network Decompositions & Dynamic programming for Graph Optimization. Technical report <a href="http://info.ornl.gov/sites/publications/Files/Pub36270.pdf">ORNL-TM/2012/176</a>. </p>
   <p>C. Groer, B. D. Sullivan, and S. Poole. A Mathematical Analysis of the R-MAT Random Graph Generator. <em>Networks</em>, 58(3):159-170, 2011. Journal version <a href="http://onlinelibrary.wiley.com/doi/10.1002/net.20417/abstract;jsessionid=80A5A065C7BAA6ED4A45B5516A56F069.d02t03">here</a>. </p>
  <p>P. Seymour and B. D. Sullivan. Counting Paths in Digraphs. <em>European Journal of Combinatorics</em>,
31(3):961-975, 2010. Journal version <a href="http://www.sciencedirect.com/science/article/pii/S0195669809001528">here </a>; also available <a href="http://arxiv.org/abs/1210.8424">on ArXiv</a>. </p>
  <p>M. Chudnovsky, P. Seymour, and B. D. Sullivan. Cycles in Dense Digraphs. <em>Combinatorica</em>, 28(1):1-18, 2008. Journal version <a href="http://link.springer.com/article/10.1007/s00493-008-2331-z">here</a>; also available <a href="http://arxiv.org/abs/math/0702147">on ArXiv</a>. </p>
  <p>M. Nathanson and B. D. Sullivan. Heights in Finite Projective Space, and a Problem on Directed Graphs. <em>Integers</em>, 8(A13), 2008. Journal version <a href="http://www.emis.ams.org/journals/INTEGERS/papers/i13/i13.pdf">here</a>; also available <a href="http://arxiv.org/abs/math/0703418">on ArXiv</a>. </p>
						
<a href="src/docs/sullivan-cv.pdf" target="_blank"  class="button">Complete List on CV</a>
	
</section>
						
						
			</div>
		</div>
	</div>
</div>
