<!-- Main -->
<div id="main">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section>
					<header>
					<h3>Software</h3>
					</header>
				</section>
			</div>
		</div>
		<div class="row">
			<div class="3u">
				<a class="image full"><img src="src/images/concuss_logo.png" alt="" /></a>
			</div>
			<div class="9u">
				<header>
				<h4> CONCUSS </h4>
				<b> Combatting Network Complexity Using Structural Sparsity</b>
				</header>
				<p> CONCUSS is a Python software tool for large scale graph analytics whose efficiency and scalability come from exploiting the underlying "structural sparsity" of the data. Current modules use low-treedepth colorings (guaranteed in graph classes of bounded expansion) and allow users to count the number of occurrences of a specific pattern within a graph (i.e. subgraph isomorphism counting).</p>
				<p><a href="https://github.com/theoryinpractice/concuss" class="button">CONCUSS on github</a></p>
			</div>
		</div>

		<div class="row">
			<div class="3u">
				<a class="image full"><img src="src/images/comingsoon_logo.png" alt="" /></a>
			</div>
			<div class="9u">
				<header>
				<h4> BEAVr </h4>
				<b>Bounded Expansion Algorithm Visualizer</b>
				</header>
				<p> BEAVr is a Python tool offering interactive visualization of the algorithmic pipeline for counting subgraph isomorphisms in graph classes of bounded expansion, as implemented in CONCUSS. BEAVr visually represents the data transformations and information in each stage of the pipeline (p-centered colorings, tree-depth decompositions, dynamic programming with k-patterns, and final counts via inclusion-exclusion). For researchers, BEAVr also enables exploration of new coloring heuristics via detailed visualization of each step of the coloring stage.</p>
				<p><a href="https://github.com/theoryinpractice/beavr" class="button">BEAVr on github</a></p>
			</div>
		</div>





		<div class="row">
			<div class="3u">
				<a class="image full"><img src="src/images/inddgo_logo.png" alt="" /></a>
			</div>
			<div class="9u">
				<header>
				<h4>INDDGO</h4>
				<b>Integrated Network Decompositions & Dynamic programming for Graph Optimization</b>
				</header>
				<p>The INDDGO software package offers a set of tools for finding exact solutions to graph optimization problems via tree decompositions and dynamic programming algorithms. Currently the C++/MPI framework offers serial and parallel (distributed memory) algorithms for finding tree decompositions and solving the maximum weighted independent set problem. The parallel dynamic programming algorithm is implemented on top of the MADNESS task-based runtime. This software is no longer under active development.</p>
				<p><a href="https://github.com/bdsullivan/inddgo" class="button">INDDGO on github</a></p>

			</div>
		</div>

	</div><!-- container -->
</div><!-- main -->
