<!-- newsbar -->
<div id="featured">
    <section>
        <h2>News</h2>
        <div ng-if="horizontal"  class="container">
            <div class="row">
                <div ng-repeat="item in contents | limitTo:limit" class="3u">
                    <p class="posted">{{ item.posted }}</p>
                    <img ng-src="{{ item.image }}" alt="" />
                    <markdown contents="item.markdown"></markdown>
                </div>
            </div>
        </div>

        <ul ng-if="!horizontal">
            <li ng-repeat="item in contents | limitTo:limit">
                <p class="posted">{{ item.posted }}</p>
                <img ng-src="{{ item.image }}" alt="" />
                <markdown contents="item.markdown"></markdown>
            </li>
        </ul>
    </section>
</div>